<!doctype html>
<html lang="pt-br"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org"
    layout:decorator="~{layout}">
<head>    
    <title>Lista de anotações</title>
</head>
<body>        
    <th:block layout:fragment="conteudo">
        <section class="my-4">
            <div class="container">
                <h2>Lista de anotações</h2>
            </div>
        </section>
    
        <section>
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light text-center">
                            <tr>
                                <th>Título</th>
                                
                                <th>Cadastro</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr th:each="anotacao: ${anotacoes}">
                                <td>
                                    <a href="javascript:;" th:text="${anotacao.titulo}"
                                        th:href="@{/anotacoes/{id}/editar(id=${anotacao.id})}">Titulo anotação</a>
                                </td>

                                <td class="text-center w-25"
                                    th:text="${#temporals.format(anotacao.cadastro, 'dd/MM/yyyy')}">10/10/2010</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </th:block>
</body>
</html>